body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
}

a {
  text-decoration: none;
  color: #252525;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.btn {
  text-transform: uppercase;
  margin: 35px auto;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.29);
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: 250px;
  position: relative;
}

.btn:hover {
  border-color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.center {
  text-align: center;
}

.active {
  font-weight: bold;
}

.nav {
  border-bottom: 1px solid rgb(111, 111, 111);
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-space {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

.align-items-center {
  align-items: center;
}

.ms-2 {
  margin-left: 2rem;
}

.me-2 {
  margin-right: 2rem;
}

.p-3 {
  padding: 3px;
}

.pe-10 {
  padding-right: 10px;
}

.w-100 {
  width: 100%;
}

.input-login {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid rgb(210, 207, 207);
}

.login-button {
  background-color: #f0f0f0; /* Light gray background */
  /* border: 1px solid #ccc; Gray border */
  border-radius: 5px; /* Rounded corners */
  padding: 10px 20px; /* Padding around the text */
  color: #ccc; /* Dark gray text color */
  cursor: pointer; /* Pointer cursor on hover */
  font-weight: bold;
}

.login-button:hover {
  background-color: #aaa5a5; /* Light gray background */
  color: #333;
}

.avatar {
  height: 50px;
  border-radius: 25px;
  margin: 10px;
}

.tweet {
  width: 100%;
  max-width: 590px;
  padding: 10px;
  display: flex;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  cursor: pointer;
}

.tweet-info {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

/* Hacky but less typing in the video */
.tweet-info > div > span:first-child {
  font-weight: bold;
  margin-right: 5px;
}
.tweet-info > div > span:nth-child(2) {
  color: #969696;
  font-size: 16px;
}
.tweet-info > div > div {
  color: #969696;
  font-size: 15px;
}
.tweet-info > div > p {
  font-size: 18px;
  margin: 10px 0;
}
.tweet-icons {
  display: flex;
  align-items: center;
}
.tweet-icons > span {
  color: #969696;
  margin: 0 15px 0 5px;
  font-size: 18px !important;
}
.tweet-icon {
  font-size: 27px;
  color: #697784;
}
.tweet-icon:hover {
  color: #00b5d6;
  cursor: pointer;
}
.replying-to {
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
  color: #969696;
  cursor: pointer;
}

.heart-button {
  background: transparent;
  border: none;
}

.new-tweet {
  width: 100%;
  max-width: 590px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.textarea {
  border-radius: 4px;
  border: 1px solid #dad7d7;
  padding: 10px;
  font-size: 15px;
  height: 100px;
}

.tweet-length {
  text-align: right;
  margin-top: 10px;
  font-size: 20px;
  color: #c3392a;
}

.poll-item {
  border: 1px solid #ccc;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 250px;
}
.poll-item > p:first-child {
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 8px;
}
.poll-item > p:nth-child(2) {
  margin-top: 1px;
  color: #aaa5a5;
  font-size: small;
}
.poll-item > div {
  color: #9bff93;
  border: 1px solid #9bff93;
  width: 85%;
  line-height: 1.8;
  border-radius: 5px;
  text-align: center;
  margin: 20px 0px 10px 0px;
}
.poll-item > div:hover {
  cursor: pointer;
  background-color: #f5fdf4;
}

.home-title {
  width: 100%;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

.home-board {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.home-items {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
